<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Header</title>
  </head>
  <body>
    <div class="header">
      <a href="/" class="logo">BLOG 2.0</a>
      <div class="header-right">
        <a class="active" href="/newpost">NEW POST</a>
        
      </div>
    </div>
  </body>
</html>
